<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title> {% block title %} EmergencyCare {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/justified-nav.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>

  </head>

  <body>


     
    <div class="container">
      <a href="/home"><img src="{{STATIC_URL}}images/EmergencyCare-header.png"></img></a>

      <div class="masthead">
              </div>

      {% block breadcrumb %}
      <br/>
      
      {% endblock %}
    

    </div><!-- /.container -->
    <div class="container">

        <div class="navbar navbar-inverse">
          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Subir</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">EmergencyCare</a>
          </div>
          
          {% block navbar %}  
          <ul class="nav navbar-nav">
            <li {% block home %} {% endblock%}><a href="/ficha">Ingresar</a></li>
            <li {% block client %} {% endblock%}><a href="/home">Listado</a></li>
            <li {% block problem %} {% endblock%}><a href="/complejidad">Complejidad</a></li>
            <li {% block pay %} {% endblock%}><a href="/archivados">Archivados</a></li>
          </ul>
          {% endblock %}

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"></a></li>
          </ul>
          <p class="navbar-text navbar-right">Hola {{user.username|capfirst}} <a href="/logout" class="navbar-link">(Salir)</a></p>
          

        </div><!-- /.nav-collapse -->


     <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
           {% block container %}
           {% endblock %}
        </div>    

      </div><!--/row-->

    

      <!-- Site footer -->
      <div class="footer">
        <p>Desarrollado por <a href="http://www.afachile.cl">AfaChile</a> </p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>

  </body>
</html>
