{% extends "base.html" %}
    

{% block container %}

		
	<h1>Fichas</h1>
	<table  class="table table-condensed">
  		<thead>
  		<tr>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Estado</th>
            <th>Opciones</th>
            
          </tr>
         </thead>
        <tbody>

		{% for element in list %}
		<tr>
			<td>{{element.date_start|date:'SHORT_DATETIME_FORMAT'}}</td>
			<td>{{element.nombre|capfirst}} {{element.apellido|capfirst}} </td>
			<td>{{element.origen|capfirst}}</td>
			<td>{{element.destino|capfirst}}</td>
			<td>{{element.estado_ficha|capfirst}}</td>
			<td>
				<a href="/ficha/{{element.id}}">
					<button type="button" class="btn btn-success btn-xs">
					  <span class="glyphicon glyphicon-zoom-in"></span> Ver
					</button>
				</a>

				<a href="/ficha/modificar/{{element.id}}">
					<button type="button" class="btn btn-warning btn-xs">
					  <span class="glyphicon glyphicon-pencil"></span> Editar
					</button>
				</a>
<!--
				<button type="button" class="btn btn-danger btn-xs">
				  <span class="glyphicon glyphicon-trash"></span> Borrar
				</button>
-->
			</td>
		</tr>
		{% endfor %}
        </tbody>

  	</table>	

{%if list %}
	<ul class="pagination">
		
	  {%if list.has_previous %}
		  <li><a href="/ficha/listado/{{list.previous_page_number}}">&laquo;</a></li>
	  {% else %}
		  <li><a href="/ficha/listado/1">&laquo;</a></li>
	  {% endif %}

	  {%if list.has_next %}
		  <li><a href="/ficha/listado/{{list.next_page_number}}">&raquo;</a></li>
	  {% endif %}
	  

	</ul>

	<h4>Página {{list.number}} de {{list.paginator.num_pages}}</h4>
{% endif%}

{% endblock %}