{% extends "base.html" %}
    



{% block container %}
{% load bootstrap %}

<style type="text/css">

@media (min-width: 600px) {
  .affix,.affix-top {
      position:fixed;
  }
}
</style>


<div class="col-md-8">

    <h2>Requerimientos del Paciente</h2>
    
    <div class="col-md-12">
      <div class="col-md-6">
        <dt>Paciente: </dt>
        <dd>{{ficha.nombre}} {{ficha.apellido}}</dd>

        <dt>Origen: </dt>
        <dd>{{ficha.origen}}</dd>
        
        <dt>Destino: </dt>
        <dd>{{ficha.destino}}</dd>
      </div>
      
      <div class="col-md-6">
        
        <dt>Fecha</dt>
        <dd>{{ficha.date_start}}</dd>

        <dt>Estado</dt>
        <dd>{{ficha.estado_ficha}}</dd>

      </div>
    <hr>
    <br/>
    </div>
  
  <div class="col-md-12">

    <form id='ficha_ingresar' method='POST' action='' class="form-horizontal" role="form">

      {% csrf_token %}
      {{ form|bootstrap_horizontal}}

      <p class="text-right">
        <button type="button" class="btn btn-danger" id="reset">Reiniciar</button>
        <button type="submit" class="btn btn-success">Enviar</button>
      </p>
    </form>
  </div>
</div>



  <div class="col-md-4">
    <div id="midCol" data-spy="affix" data-offset-top="300">
        <h2 class="text-center">Tipo de complejidad</h2>
        <div id="status" class="text-center"></div>      
    </div>
  </div>


<script type="text/javascript">

      var status = 0;

      $('#id_monitorizacion').click(medio);
      $('#id_ventilacion_mecanica').click(alto);
      $('#id_inmovilacion').click(medio);
      $('#id_marcapaso').click(alto);


      $('#id_oxigenoterapia').change(function(){
        var selectedOption  = $(this).find('option:selected');
        var selectedValue   = $(selectedOption).val();

        console.log(selectedValue);

        if (selectedValue == $.trim(1)){
          status = Math.max(status,1); 
          tipo_estado();
        }                    
        else if (selectedValue == 2){  
          status = Math.max(status,2); 
          tipo_estado();
        }
        else if (selectedValue == 3){
          status = Math.max(status,3); 
          tipo_estado();
        }
      });


      $('#id_acceso_vascular').change(function(){
        var selectedOption  = $(this).find('option:selected');
        var selectedValue   = $(selectedOption).val();

        if (selectedValue == $.trim(1)){
          status = Math.max(status,1); 
          tipo_estado();
        }                    
        else if (selectedValue == 2){  
          status = Math.max(status,2); 
          tipo_estado();
        }

      }).change();


      $('#id_hemodinamia').change(function(){
        var selectedOption  = $(this).find('option:selected');
        var selectedValue   = $(selectedOption).val();

        if (selectedValue == $.trim(1)){
          status = Math.max(status,2); 
          tipo_estado();
        }                    
        else if (selectedValue == 2){  
          status = Math.max(status,3); 
          tipo_estado();
        }

      }).change();



      $('#id_ventilatorio').change(function(){
        var selectedOption  = $(this).find('option:selected');
        var selectedValue   = $(selectedOption).val();
        
        if (selectedValue == $.trim(1)){
          status = Math.max(status,1); 
          tipo_estado();
        }                    
        else if (selectedValue == 2){  
          status = Math.max(status,2); 
          tipo_estado();
        }
        
      }).change();



      $('#id_glasgow').change(function(){
        var selectedOption  = $(this).find('option:selected');
        var selectedValue   = $(selectedOption).val();
        
        if (selectedValue == $.trim(1)){
          status = Math.max(status,3); 
          tipo_estado();
        }                    
        else if (selectedValue == 2){  
          status = Math.max(status,2); 
          tipo_estado();
        }
        else if (selectedValue == 3){
          status = Math.max(status,1); 
          tipo_estado();
        }

      }).change();




      $('#reset').click(reset)

     


      function tipo_estado(){
        var html='';

        if(status == 1){
          html='<h2><span class="label label-success">Normal</span></h2>';
          $('#status').html(html);
        }
        else if(status == 2){
           html='<h2><span class="label label-warning">Media</span></h2>';
          $('#status').html(html);
        }else if(status == 3){
           html='<h2><span class="label label-danger">Alta</span></h2>';
          $('#status').html(html);
        }else {
          $('#status').html('');
        }

      }

      function reset(){
        status = 0;

        $('#ventilacion_mecanica').attr('checked', false);
        $('#via_venosa').attr('checked', false);
        $('#via_venosa_central').attr('checked', false);
        $('#via_venosa_periferica').attr('checked', false);
        $('#bic').attr('checked', false);
        $('#monitorizacion').attr('checked', false);
        $('#marcapaso').attr('checked', false);

        tipo_estado();
      }

      function normal(){
        if ($(this).is(':checked')) {            
          status = Math.max(status,1); 
          tipo_estado();
        }        
      }

      function medio(){
        if ($(this).is(':checked')) {            
          status = Math.max(status,2); 
          tipo_estado();
        }        
      }

      function alto(){
        if ($(this).is(':checked')) {            
          status = Math.max(status,3); 
          tipo_estado();
        }        
      }


</script>


{% endblock %}