{% extends "base.html" %}
    

{% block container %}

		
	<h2>Derivaciones en lista</h2>
	<table  class="table table-condensed">
  		<thead>
  		<tr>
  			<th>Complejidad</th>
  			<th>Estado</th>
            <th>Fecha</th>
            <th>Origen</th>
            <th>Destino</th>
            <th class="text-right">Opciones</th>
          </tr>
         </thead>
        <tbody>

		{% for element in servicios %}
		<tr>
			<td>
			{% if element.ficha.tipo_movil == 'Normal' %}
				<span class="label label-success">Basico</span>
			{% elif element.ficha.tipo_movil == 'Medio' %}
				<span class="label label-warning">Medio</span>
			{% elif element.ficha.tipo_movil == 'Alto' %}
				<span class="label label-warning">Alto</span>
			{% endif %}

			</td>

			<td>
			{% if element.estado_ficha == ENLISTADO %}
				<span class="label label-info">Por hacer</span>
			{% elif element.estado_ficha == ENCURSO %}
				<span class="label label-info">En Curso</span>
			{% elif element.estado_ficha == FINALIZADO %}
				<span class="label label-info">Finalizado</span>
			{% endif %}

			</td>


			<td>{{element.date_start 	| date:'SHORT_DATETIME_FORMAT'}}</td>
			<td>{{element.ficha.origen 	| capfirst}}</td>
			<td>{{element.ficha.destino | capfirst}}</td>

			<td class="text-right">
				<a href="{% url 'traslado_agregar' element.id %}" class="btn btn-default btn-xs">
					  <i class="fa fa-plus"></i> Traslado
				</a>

				<a href="{% url 'ver_ficha' element.id %}" class="btn btn-info btn-xs">
					  <i class="fa fa-info"></i> Ver
				</a>
				
			</td>
		</tr>
		{% endfor %}
        </tbody>

  	</table>	



{%if servicios %}
	<ul class="pagination">
	  {%if servicios.has_previous %}
		  <li><a href="{% url 'listado' servicios.previous_page_number %}">&laquo;</a></li>
	  {% else %}
		  <li><a href="{% url 'listado' 1 %}">&laquo;</a></li>
	  {% endif %}

	  {%if servicios.has_next %}
		  <li><a href="{% url 'listado' servicios.next_page_number %}">&raquo;</a></li>
	  {% endif %}	  
	</ul>

	<h4>Página {{servicios.number}} de {{servicios.paginator.num_pages}}</h4>
{% endif%}



{% endblock %}