{% extends "base.html" %}
    

{% block container %}

		
	<h1>Fichas</h1>
	<table  class="table table-condensed">
  		<thead>
  		<tr>
  			<th>Móvil</th>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Estado</th>
            <th class="text-right">Opciones</th>
            
          </tr>
         </thead>
        <tbody>

		{% for element in list %}
		<tr>
			<td>
			{% if element.tipo_movil == 'Normal' %}
				<span class="label label-success">Basica Complejidad</span>
			{% elif element.tipo_movil == 'Medio' %}
				<span class="label label-warning">Media Complejidad</span>
			{% elif element.tipo_movil == 'Alto' %}
				<span class="label label-warning">Alta Complejidad</span>
			{% endif %}



			</td>
			<td>{{element.date_start|date:'SHORT_DATETIME_FORMAT'}}</td>
			<td>{{element.nombre|capfirst}} {{element.apellido|capfirst}} </td>
			<td>{{element.origen|capfirst}}</td>
			<td>{{element.destino|capfirst}}</td>
			<td>

				{% if element.estado_ficha == 'Programado' %}
					<span class="label label-primary glyphicon glyphicon-time"> Programado</span>
				{% elif element.estado_ficha == "En Proceso" %}
					<span class="label label-default glyphicon"><i class="fa fa-ambulance"></i> En Proceso</span>
				{% endif %}	
			</td>


			<td class="text-right">
				<a href="{% url 'evaluador' element.id %}" class="btn btn-default btn-xs">
					  <i class="fa fa-user-md"></i> Evaluar
				</a>

				<a href="{% url 'modificar' element.id %}" class="btn btn-warning btn-xs">
					  <i class="fa fa-pencil-square-o"></i> Editar
				</a>

				<a href="{% url 'ver' element.id %}" class="btn btn-info btn-xs">
					  <i class="fa fa-info"></i> Ver
				</a>

				
			</td>
		</tr>
		{% endfor %}
        </tbody>

  	</table>	

{%if list %}
	<ul class="pagination">
		
	  {%if list.has_previous %}
		  <li><a href="{% url 'listado' list.previous_page_number %}">&laquo;</a></li>
	  {% else %}
		  <li><a href="{% url 'listado' 1 %}">&laquo;</a></li>
	  {% endif %}

	  {%if list.has_next %}
		  <li><a href="{% url 'listado' list.next_page_number %}">&raquo;</a></li>
	  {% endif %}
	  

	</ul>

	<h4>Página {{list.number}} de {{list.paginator.num_pages}}</h4>
{% endif%}

{% endblock %}